[Desktop Entry]
Encoding=UTF-8
Name=IVS Calculator
Comment=Easy to use calculator app
Exec=ivs-calculator
Icon=/usr/share/icons/hicolor/scalable/apps/ivs-calculator.svg
Terminal=false
Type=Application
Categories=GNOME;Application;Utility;